<body class="bg-light">
  <div class="container">
    <div class="row my-5">
      <div class="col">
        <div class="card shadow">
          <div
            class="card-header bg-primary d-flex justify-content-between align-items-center"
          >
            <div class="row">
              <div class="col-md6">
                <button class="btn btn-light">
                  <a href="" routerLink="/user/List-Book"
                    ><i class="bx bx-arrow-back bx-fade-left"></i
                  ></a>
                </button>
              </div>
              <div
                class="col-md6"
                style="font-size: 20px; color: white; margin-left: 20px"
              >
                <b>Sách</b>
              </div>
            </div>
          </div>
          <div class="card-body" id="">
            <div class="container">
              <div class="row" style="row-gap: 20px">
                <!-- <pre>
                  {{ book | json }}
                </pre> -->
                <div class="col-6">
                  <img src="{{ book[0].ImageBook }}" alt="" id="hinh" />
                </div>
                <div class="col-6">
                  <p style="font-size: 50px">
                    Tên sách: <b>{{ book[0].NameBook }}</b>
                  </p>
                  <p style="font-size: 20px">
                    Mô tả: {{ book[0].DescribeBook }}
                  </p>
                  <!-- <p
                    *ngIf="book[0].BooksForRental == 1"
                    style="color: green; font-size: 20px"
                  >
                    Trạng thái: Còn sách
                  </p>
                  <p
                    *ngIf="book[0].BooksForRental == 0"
                    style="color: red; font-size: 20px"
                  >
                    Trạng thái: Sách đã cho mượn
                  </p> -->

                  <div>
                    <div class="row">
                      <div class="col-3">
                        <form [formGroup]="orderGroup" (ngSubmit)="orderBook()">
                          <div style="display: none">
                            <input
                              formControlName="Book_Ids"
                              [(ngModel)]="book[0].Id"
                              type="text"
                              class="form-control"
                              readonly
                            /><br />
                            <input
                              formControlName="User_Ids"
                              type="text"
                              class="form-control"
                              [(ngModel)]="iduser"
                              readonly
                            /><br />
                            <!-- <input
                          formControlName="TimeBook"
                          type="datetime"
                          [(ngModel)]="currentDateTime"
                          readonly
                        /> -->
                          </div>

                          <button type="submit" class="btn btn-success">
                            Thuê ngay
                          </button>
                        </form>
                      </div>
                      <div class="col-9">
                        <button
                          class="btn btn-secondary"
                          style="
                            background-color: #f9b5f3 !important;
                            margin-left: 20px;
                          "
                        >
                          Yêu thích
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- end table -->
        </div>
      </div>
    </div>
  </div>
</body>
