<body class="bg-light">
  <div class="container-fluid w-90 p-3">
    <div class="row my-5">
      <div class="col">
        <div class="card shadow">
          <div
            class="card-header bg-primary d-flex justify-content-between align-items-center"
          >
            <h3 class="text-light">Edit Sách</h3>
            <button class="btn btn-light">
              <a href="" routerLink="/admin/List-BookAndStories">Back</a>
            </button>
          </div>
          <div class="card-body" id="">
            <div class="container">
              <form [formGroup]="bookForm" (ngSubmit)="updateBook()">
                <div class="form-group">
                  <label for="exampleFormControlInput1">NameBook</label>
                  <input
                    formControlName="NameBook"
                    [(ngModel)]="book[0].NameBook"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Sách gì đó...."
                  />
                  <div
                    *ngIf="f['NameBook'].touched && f['NameBook'].invalid"
                    class="alert alert-danger"
                  >
                    <div
                      *ngIf="
                        f['NameBook'].errors && f['NameBook'].errors['required']
                      "
                    >
                      NameBook trống
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">DescribeBook</label>
                  <textarea
                    formControlName="DescribeBook"
                    [(ngModel)]="book[0].DescribeBook"
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="3"
                  ></textarea>
                  <div
                    *ngIf="
                      f['DescribeBook'].touched && f['DescribeBook'].invalid
                    "
                    class="alert alert-danger"
                  >
                    <div
                      *ngIf="
                        f['DescribeBook'].errors &&
                        f['DescribeBook'].errors['required']
                      "
                    >
                      DescribeBook trống
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput2">ImageBook</label>
                  <input
                    formControlName="ImageBook"
                    [(ngModel)]="book[0].ImageBook"
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Sách gì đó...."
                  />
                  <div
                    *ngIf="f['ImageBook'].touched && f['ImageBook'].invalid"
                    class="alert alert-danger"
                  >
                    <div
                      *ngIf="
                        f['ImageBook'].errors &&
                        f['ImageBook'].errors['required']
                      "
                    >
                      ImageBook trống
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput2"
                    >Số sách của hệ thống</label
                  >
                  <input
                    formControlName="Amount"
                    [(ngModel)]="book[0].Amount"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="Số lượng sách...."
                  />
                  <div
                    *ngIf="f['Amount'].touched && f['Amount'].invalid"
                    class="alert alert-danger"
                  >
                    <div
                      *ngIf="
                        f['Amount'].errors && f['Amount'].errors['required']
                      "
                    >
                      Amount trống
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlInput2"
                    >Số sách đã cho mượn</label
                  >
                  <input
                    formControlName="BooksForRental"
                    [(ngModel)]="book[0].BooksForRental"
                    class="form-control"
                    placeholder="Số lượng sách...."
                    readonly
                  />
                </div>
                <div>
                  <button class="btn btn-primary" type="submit">Save</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
